.donor {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 0 auto 40px;

    max-width: 800px;

    font-size: 1.3rem;

    text-align: center;
  }

  &__inputs {
    margin: 0 auto 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
  }

  &__input {
    padding: 10px 10px 10px 12px;
    margin-bottom: 15px;

    display: block;
    max-width: 250px;
    width: 100%;

    background: linear-gradient(to bottom, #009474 0%, #48CFAE 100%);
    border-radius: 25px;
    border: none;

    transition: transform 0.3s;
    outline: none;

    &::placeholder {
      color: inherit;
    }

    &:focus {
      transform: scale(1.03);
    }
  }

  &__radios {
    display: flex;
  }

  &__label {
    position: relative;

    margin-bottom: 0.375em;

    display: flex;

    font-weight: 500;

    cursor: pointer;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 30px;
    }

    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        background-color: mix(#fff, #41C7A6, 84%);
        color: #41C7A6;
        &:before {
          box-shadow: inset 0 0 0 0.4375em #41C7A6;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em; // or something higher...
      transition: 0.25s ease;
      &:hover {
        background-color: mix(#fff, #41C7A6, 84%);
        color: #41C7A6;
      }
      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em #41C7A6;
      }
    }
  }

  &__button-box {
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__span {
    margin-bottom: 10px;

    display: block;
  }

  &__textarea {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 10px;

      display: block;
    }

    textarea {
      padding: 10px;

      max-width: 500px;
      max-height: 200px;
      min-width: 100px;
      min-height: 50px;
      width: 300px;
      height: 100px;

      color: #000000;

      outline: none;
    }
  }

  &__contact {
    a {
      padding: 8px 0;
      margin: 20px auto 0;

      display: block;
      max-width: 170px;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      border: 2px solid #37bc9b;
      background-color: transparent;
      color: #FFFFFF;
      border-radius: 30px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #37bc9b;
      }
    }
  }

  &__button {
    position: relative;
    z-index: 2;

    padding: 12px 0;
    margin-top: 25px;
    max-width: 250px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    border: 3px solid #37bc9b;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 30px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #37bc9b;
    }
  }
}