.header {
  margin-bottom: 100px;
  margin-top: 50px;

  width: 100%;

  color: #FFFFFF;

  .menu {
    &__list {
      display: flex;
      justify-content: center;
    }
    
    &__link {
      padding: 15px 20px;

      display: block;
      height: 100%;
      
      font-size: 1.2rem;

      background-color: #48CFAE;

      transition: background-color 0.3s;

      &.active {
        background-color: #37bc9b;
      }

      &:hover {
        background-color: #37bc9b;
      }
    }

    &__image {
      width: 25px;
      height: 25px;

      object-fit: cover;
    }
  }
}