.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 600px;

  &__button {
    position: relative;
    z-index: 2;

    padding: 15px 0;

    max-width: 350px;
    width: 100%;

    font-size: 1.5rem;

    text-align: center;
    border: 3px solid #37bc9b;
    background-color: transparent;
    color: #FFFFFF;

    border-radius: 30px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #37bc9b;
    }
  }
}